@{
    ViewData["Title"] = "Formulario";
}

<div class="text-center">
    <h1 class="display-4">Cadastro de Usuário</h1>
    <p>Preencha o formulário abaixo.</p>

    <form action="TesteFormData" method="post">
        <label for="nome">Nome</label>
        <input type= "text" name="nome" id="Nome">
        <label for="email">E-mail</label>
        <input type= "text" name="email" id="Email">
        <input type= "submit" value="Enviar">
    </form>

</div>